.create-new-dog {
    position: absolute;
    padding-top: 9vh;
    width: 100%;
    height: 100%;
    background-color: $rusty-orange;
}

.create-dog-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2.5vw 5vw;
    height: 90%;
    margin: 2vw 25vw 0 25vw;
    // margin: 0 auto;
    background-color: $pale-brown;
    // background-color: $brownish-orange;
    border-radius: 30px;

    h1 {
        text-align: center;
        font-family: $hand;
        font-size: 3rem;
        color: $brownish-orange;
        text-shadow: -1px -1px 0 $pale-brown;
    }

    input[type="file"] {
        margin: 0 auto;
        margin-left: 30%;
        padding: 1rem 0 2rem 0;
    }
    

    input#file-upload-button {
        padding: 1rem;
    }

    label {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
        margin-bottom: 1rem;
        // border: 1px solid magenta;
        .create-dog-label {
            font-family: $hand;
            color: $navy-blue;
            font-size: 2rem;
        }

        input, textarea {
            display: block;
            width: 100%;
            font-family: $cabin;
        }
    }

    input[type="submit"] {
        @include hover;
        padding: 1rem 3rem;
        width: 50%;
        margin: 0 auto;
        margin-top: 1rem;
        border: none;
        border-radius: 2rem;
        font-size: 1.1rem;
        background-color: $rusty-orange;
        color: white;
    }
}