.dog-show-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dog-show-left {
  background: linear-gradient(-45deg, $matcha-green, #bdd5db);
  padding: 14vh 5rem 5rem 5rem;

  .dog-show-info {
    line-height: 4rem;
    p {
      font-size: 2.8rem;
      font-family: $hand;
      color: $navy-blue;
      letter-spacing: 2px;
    }
    #show-breed { text-transform: capitalize; }
  }
}

.know {
  padding-bottom: 1rem;
  font-size: 5rem;
  font-family: $hand;
  color: $dark-mud;
}

.dog-show-right {
  background: linear-gradient(45deg, #b4be7d, #c49236);

  .dog-show-img {
    display: block;
    margin: 2vw auto;
    width: 32vw;
    height: auto;
  }

  .go-to-shelter {
    display: block;
    margin-top: 15vh;
    width: 100%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    color: #e2eff1;
    font-family: $hand;
    font-size: 3rem;

    .fa-home { font-size: 1.6rem; }

    &:hover { color: white }
    &:active { color: #d4e5e9 }
  }
}

.appointment-container {
  margin-top: 5rem;

  p {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: $hand;
    letter-spacing: 2px;
    color: $dark-mud;
  }

  .react-datepicker {
    transform: scale(115%);
    margin: 1.2rem 0;
    padding-left: 1vw;
    min-width: 300px;
  }

  .react-datepicker__current-month {
    font-size: 1.2rem;
    color: #c49236;
  }

  .react-datepicker-time__header {
    color: #c49236;

  }

  button#book-it {
    padding: 15px;
    margin: 2rem 0 0 4.5rem;
    border: none;
    border-radius: 5px;
    background-color: $dark-mud;
    font-size: 1.2rem;
    color: white;

    &:hover {
      cursor: pointer;
      opacity: .9;
    }

    &:active { opacity: 1; }
  }

  p#not-booked-appt {
    visibility: hidden;
    font-family: $cabin;
    font-size: 1.4rem;
    margin-top: 1rem;
    // text-shadow: 1px 1px 0 $navy-blue;
    color: black;
  }

  p#booked-appt {
    visibility: visible;
    font-family: $cabin;
    font-size: 1.4rem;
    margin-top: 1rem;
    // text-shadow: 1px 1px 0 $navy-blue;
    color: black;
  }
}
