.dogs-container {
  padding-top: 4vh;
  width: 100%;
  overflow-x: hidden;
}

.dog-list-container {
  padding: 2rem;
  width: 100%;
}

.dog-index-bg {
  background-image: url("../../images/landing-bg.jpg");
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
}

.dog-home {
  font-size: 3.5rem;
  color: $pale-brown;
  padding-top: 12vh;
  padding-left: 5rem;

  span {
    margin-top: 0;
    width: fit-content;
    font-family: $staat;
    letter-spacing: 2px;
  }
}

.special {
  display: block;
  margin-top: 2rem;
  margin-left: 4rem;
}

.dog-search-filters {
  width: 100%;
  margin: 0 auto;
  display: flex;
  border: medium solid $mud;
}

.dog-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
}

.dog-info {
  border: thick solid $matcha-green;
  border-radius: 1rem;
  width: auto;
  background-color: $rusty-orange;
  // background-color: white;
  box-shadow: 10px 5px 10px rgba(95, 121, 85, 0.3);
  overflow: hidden;
}

.dog-info:hover {
  transform: scale(1.1);
  transition-duration: 3sec;
}

.dog-index-pic {
  display: block;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}

.dog-img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.dog-search-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-by-breed,
.search-by-age,
.search-by-gender {
  padding: 1rem;
  width: 50rem;
  text-align: center;
  font-size: 1.5rem;
  color: $navy-blue;
  background-color: $matcha-green;

  label {
    font-family: $cabin;
  }

  select {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: $cabin;
    color: $navy-blue;
  }
  option {
    text-align: center;
  }
}

.search-by-gender {
  border-left: medium solid $mud;
  border-right: medium solid $mud;
}

.dog-description {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: $rusty-orange;
  height: 100%;

  p {
    font-family: $cabin;
    letter-spacing: 1.5px;
    color: white;
    text-transform: capitalize;
  }
}

button.add-dog-index {
    @include hover;
    border-radius: 2rem;
    display: block;
    width: 8rem;
    height: 3rem;
    padding: 7px;
    font-size: 1.1rem;
    color: $navy-blue;
    border: 1px solid black;
    margin-top: 10px;
    position: relative;
    left: 88%;
    background-color: $navy-blue;
    color: white;

}

button.add-dog-index a{
    color: white;
}