// colors:
$grey-beige: #9f968d;
$brick-orange: #cb9b85;
$pale-brown: #e8d5c4;
$matcha-green: #c0caa8;

// $rusty-orange: rgb(187, 132, 95);

$lobster: "Lobster", cursive;
// $cabin: "Cabin", sans-serif;
// $hand: "Just Another Hand", cursive;
// $staat: "Staatliches", cursive;

.dogs-container {
  padding-top: 4vh;
  width: 100vw;
}

.dog-list-container {
  padding: 2rem;
}

.dog-index-bg {
  background-image: url("../../images/landing-bg.jpg");
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
}

.dog-home {
  font-size: 3.5rem;
  color: $pale-brown;
  padding-top: 8rem;
  padding-left: 5rem;

  span {
    font-family: $staat;
    letter-spacing: 2px;
  }
}

.special {
  display: block;
  margin-top: 2rem;
  margin-left: 4rem;
}

.dog-search-filters {
  margin: 2rem 10rem;
  display: flex;
  border: medium solid $rusty-orange;
}

.dog-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
}

.dog-info {
  border: thick solid $matcha-green;
  border-radius: 1rem;
  // text-align: center;
  width: auto;
  background-color: white;
  box-shadow: 10px 5px 10px $grey-beige;
  overflow: hidden;
}

.dog-info:hover {
  transform: scale(1.1);
  transition-duration: 3sec;
}

.dog-img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.dog-search-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-by-breed,
.search-by-age,
.search-by-gender {
  padding: 1rem;

  // background-color: #;
  width: 50rem;
  text-align: center;
  font-size: 1.5rem;
  color: $navy-blue;
  background-color: $matcha-green;

  label {
    font-family: $cabin;
  }

  select {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: $cabin;
    color: $navy-blue;
  }
  option {
    text-align: center;
  }
}

.search-by-gender {
  border-left: medium solid $rusty-orange;
  border-right: medium solid $rusty-orange;
}

.dog-description {
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: $rusty-orange;
  height: 100%;

  p {
    font-family: $cabin;
    letter-spacing: 1.5px;
    color: white;
  }
}
