.dog-show-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dog-show-left {
  background: linear-gradient(-45deg, $matcha-green, #86a2aa);
  // background-color: $pale-brown;
  padding: 10rem 5rem 5rem 5rem;

  .dog-show-info {
    line-height: 4rem;
    p {
      font-size: 3rem;
      font-family: $hand;
      color: $navy-blue;
      // color: $rusty-orange;
      letter-spacing: 2px;
    }
  }
}

// .know-header {

// }

.know {
  font-size: 5rem;
  font-family: $hand;
  // margin-bottom: 2rem;
  color: rgb(94, 72, 63);
}

.dog-show-right {
  background: linear-gradient(45deg, #a0ab69, #b48328);
  padding: 18rem 10rem;
  .dog-show-img {
    width: 32vw;
    height: auto;
  }
}

.appointment-container {
  margin-top: 5rem;

  p {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-family: $hand;
    letter-spacing: 2px;
    color: $brownish-orange;
  }

  .react-datepicker {
    transform: scale(115%);
    margin: 1.2rem 0;
  }

  .react-datepicker__current-month {
    font-size: 1.2rem;
    color: $rusty-orange;
  }

  .react-datepicker-time__header {
    color: $rusty-orange;

  }

  button#book-it {
    padding: 15px;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background-color: $rusty-orange;
    font-size: 1.2rem;
    color: white;

    &:hover {
      cursor: pointer;
      opacity: .9;
    }

    &:active { opacity: 1; }
  }
}
