.know-header {
  display: flex;
}

.editBtn {
  transform: rotate(80deg);
  margin-left: 1rem;
  font-size: 2rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  line-height: 3rem;

  position: absolute;
  top: 5rem;
  left: 15rem;
  padding: 3rem;
  z-index: 1500;
  border-radius: 1rem;
  // height: 700px;
  width: 45%;

  background-color: $rusty-orange;
  color: $pale-brown;

  label {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;

    div {
      font-family: $hand;
      font-size: 2.5rem;
      letter-spacing: 2px;
    }
  }
}

.edit-btn-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  font-family: $hand;
  letter-spacing: 2px;
  font-size: 3.5rem;
  text-align: center;
  cursor: pointer;
  border: thin solid $pale-brown;
  border-radius: 2rem;
  padding-top: 5px;
  background-color: $brick-orange;
}

.edit-btn-container:hover {
  background-color: $grey-beige;
}
