.user-main {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: $rusty-orange;
}

.user-details {
    position: relative;
    z-index: 200;
    background-color: white;
    width: 40%;
    min-width: 500px;
    padding: 50px;
    padding-top: 14vh;

    h2 {
        @include staat;
        padding-bottom: 20px;
        font-size: 2.5rem;
        color: $almost-orange;
        font-family: $cabin;
    }

    button {
        @include hover;
        margin-bottom: 20px;
        height: 30px;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        background-color: $almost-orange;
        font-size: 1.1rem;
        color: white;
    }

    h3 {
        padding-bottom: 10px;
        font-size: 1.2rem;
        color: $almost-orange;
        font-family: $cabin;
    }

    p {
        padding-bottom: 20px;
        font-size: 1rem;
    }

    span#user-location {
        text-transform: capitalize;
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 95%;
        width: 10vw;
        height: 100%;
        min-height: 100vh;
        padding: 0;
        background-image: url('../../images/pawprints4.png');
        background-repeat: repeat-y;
        background-size: 80%;
        content: "-";
        color: transparent;
    }

    .user-description-header, .user-phone-number-header {
        display: flex;
        flex-direction: row;

        #user-description-edit-btn, #add-phone-number-btn {
            height: 1.4rem;
            margin: -.1rem 0 0 20px;
            padding: 0 10px;
            border-radius: 2px;
            font-size: .8rem;
        }
    }

    form {
        position: relative;
        z-index: 600;

        textarea {
            max-width: 100%;
            max-height: 150px;
            min-width: 200px;
            min-height: 50px;
        }

        input[type="submit"] {
            @include hover;
            display: block;
            margin: 10px 0 20px 0;
            padding: 5px 15px;
            border: none;
            border-radius: 3px;
            background-color: $almost-orange;
            font-size: .9rem;
            color: white;
        }
    }
}

.user-specific {
    position: fixed;
    margin-left: 40%;
    width: 60%;
    height: 100vh;
    max-height: calc(100vh + 30vh);
    min-width: 500px;
    overflow: hidden;
    background-color: $rusty-orange;
    color: $rusty-orange;
    padding-left: 8%;
    padding-top: 14vh;
}

.adopter-appointments {
    height: 100%;
    padding: 0 3rem 4rem 3rem;
    overflow-y: hidden;
    text-align: center;

    h2 {
        @include staat;
        margin-bottom: 20px;
        color: white;
        text-shadow: -1px -1px 0 rgb(211, 148, 106);
    }
}

#no-appointments, #no-dogs {
    padding-top: 100px;
    color: white;
}

.adopter-appointments-container {
    width: 92%;
    margin: 20px;
    padding: 2rem 2rem .5rem 2rem;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: .2rem;
    border: 1px solid white;
}

.adopter-appointment {
    margin-bottom: 2rem;
    padding: 1rem .5rem .4rem .5rem;
    color: $rusty-orange;
    font-size: 1.1rem;
    line-height: 1.8rem;
    background-color: white;
    border: 1px solid white;

    a {
        text-decoration: none;
        text-transform: capitalize;
        font-variant: small-caps;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $rusty-orange;

        &:hover {
            letter-spacing: 2px;
            color: rgb(163, 199, 78);
        }
    }
}

.cancel-appointment:hover { color: red; }

.shelter-dogs {
    width: 95%;
    height: 90%;
    overflow: hidden;
    padding: 0 .8rem 0 0;
    text-align: center;

    h2 {
        @include staat;
        margin-bottom: 20px;
        color: white;
        text-shadow: -1px -1px 0 $tan;
    }
}

.shelter-dogs-header {
    display: flex;
    padding-left: 1rem;
    padding-bottom: 0;
    justify-content: space-between;

    button.add-dog {
        @include hover;
        height: 2rem;
        border-radius: 3px;
        padding: 5px;
        background-color: white;
        font-size: 1.1rem;
        color: $navy-blue;
    }
}

.shelter-dogs-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 5px;
    padding-bottom: 3.8rem;

    .shelter-dog-container {
        height: 280px;
        margin: 5px;
        overflow: hidden;
        border-radius: .5rem;
        border: 1px solid white;
        background-color: white;
        color: rgb(47, 47, 71);

        .shelter-dogs-pic {
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .shelter-dogs-clickable {
            @include hover;
            display: block;
            height: 100%;
            text-decoration: none;
            color: $rusty-orange;
            text-transform: capitalize;

            h4 {
                font-size: 1.1rem;
                font-family: $cabin;
            }

            h4, p {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    .shelter-delete-dog-btn {
        @include hover;
        position: relative;
        overflow: visible;
        height: 2.5rem;
        width: 2.5rem;
        left: 43%;
        bottom: 166%;
        padding: 0;
        opacity: .7;
        z-index: 2500;
        border-radius: 2rem;
        font-size: 1.2rem;
        color: red;

        &:hover { border: 1px solid red; background-color: white; }
    }

    .shelter-dogs-pic {
        width: 100%;
        height: 180px;
        background-color: white;
    }
}

.message-adopter-link, .message-adopter-link:visited {
    color: #e0a67f;
    text-decoration: none;
    font-weight: 600;
    font-family: "Cabin", sans-serif;

}

.shelters-appointments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-height: 90vh;
    overflow: auto;
    border: 1px solid $almost-orange;
}

.shelter-appointment {
    height: 17vh;
    width: 100%;
    padding: .5rem .2rem;
    border-right: 1px solid $almost-orange;
    border-top: 1px solid $almost-orange;
 
    p#shelter-appt-dog { 
        padding-bottom: .6rem;
        color: $almost-orange;

        i { 
            margin: -.2rem 0 0 .2rem;
            font-size: .8rem;
        }
    }
}

.display-appointment-adopter {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;

    h4 {
        width: 70%;
        padding-top: .5rem;
        overflow: hidden;
        font-family: $cabin;
        color: $almost-orange;
    }

    button.message-adopter-btn {
        display: inline-block;
        height: 1.3rem;
        padding: .2rem;
        margin-top: .3rem;
        font-size: .8rem;
    }
}