.user-main { @include profile-main; }

// .adopter-main {
// }

// .shelter-main {
// }

.user-details { @include profile-details; }

.adopter-appointments-container {
    height: 70%;
    border: 1px solid $mud;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        color: $almost-orange;
    }

    h3 {
        font-size: 1.2rem;
        color: $almost-orange;
    }
}