// COLORS
$splash-bg: rgb(241, 235, 231);
$mud: rgb(139, 120, 114);
$dark-mud: rgb(126, 110, 106);
$almost-orange: rgb(224, 166, 127);


// FONTS
$cabin: 'Cabin', sans-serif;
$hand: 'Just Another Hand', cursive;
$staat: 'Staatliches', cursive;


// MIXINS
@mixin staat {
    font-family: $staat;
    font-size: 2.2rem;
    letter-spacing: 3px;
    word-spacing: 5px;
}

@mixin hover {
    &:hover {
        cursor: pointer;
        opacity: .9;
    }

    &:active {
        opacity: 1;
    }
}

@mixin splash-box {
    height: 70vh;
    width: 72vh;
    min-height: 450px;
    max-height: 600px;
    min-width: 450px;
    max-width: 600px;
    background-color: rgba(241, 235, 231, .4);
    padding: 2rem;
    position: absolute;
    top: 12vh;
    left: 12vw;
}