// MIXINS
@mixin hover {
    &:hover {
        cursor: pointer;
        opacity: .9;
    }

    &:active {
        opacity: 1;
    }
}

@mixin splash-box {
    height: 70vh;
    min-height: 450px;
    background-color: rgba(241, 235, 231, .4);
    padding: 3.5rem;
    position: absolute;
    top: 12vh;
    left: 12vw;
}


// COLORS
$splash-bg: rgb(241, 235, 231);
$mud: rgb(139, 120, 114);


// FONTS
$cabin: 'Cabin', sans-serif;
$hand: 'Just Another Hand', cursive;
$staat: 'Staatliches', cursive;